*.project
*.project
*/target/*
*.classpath
jee-ear/.gitignore
jee-ejb/.gitignore
jee-ejb/.settings/org.hibernate.eclipse.console.prefs
jee-ejb/.settings/org.sonar.ide.eclipse.core.prefs
jee-jpa/.gitignore
jee-jpa/.settings/
jee-test/.gitignore
jee-test/.settings/
jee-web/.gitignore
jee-web/.settings/org.sonar.ide.eclipse.core.prefs
jee-ws/.gitignore
jee-ws/.settings/
*.classpath
*.project
*.class
*.project
jee-web/.classpath
*.project
jee-web/.classpath
*.prefs
jee-ear/.project
*.component
jee-ear/.settings/org.eclipse.wst.common.component
*.classpath
jee-ejb/.project
*.project
*.project
*.classpath